
body {
  background-color: #fffb;
}

#navBar {
  background-color: black;
  color: #cccccc;
  shadow: bottom 10;
}

#mainContainer {
  opacity: 90%;
  background-image: (url="https://unsplash.com/900x1000");
}
