<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/assets/css/style.css" type="text/css" />
  <script src="https://code.jquery.com/jquery.js"></script>
<title>Uncreate-Created!</title>
</head>

<body>

<!-- Bootstrap card -->

<div class="container">
    <div class="card" style="width: 18rem;">

    <img class="card-img-top" src=".buy" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Article</h5>

          <p><span class="label">link:</span></p>
          <p><span class="label">Article:</span> </p>
          <p><span class="label">Buy Link:</span> </p>
          <button data-id="{{this.id}}" class="buy">Buy This</button>
          <a href="/" class="action-1-url" class="btn btn-primary">Buy this item</a>

    </div>
  </div>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/public/assets/js/index.js"></script>

</html>
